{% block content %}
<div class="container inner-page">
  <div class="row header-row">
	  <div class="col-xs-12">
	    <h1>Our People</h1>
	    <p>Brief descriptor text about what who these people are.</p>
	  </div>
	</div>
	<div class="row">
	  <div class="col-sm-12" id="main-content">
		  <div class="row person">
	      <div class="col-sm-3">
	        <img src="/common/img/21.jpg" class="img-circle" alt="Image description">
	      </div>
	      <div class="col-sm-9">
	        <h2>James Jameson</h2>
	        <h3>Founder</h3>
	        <p><a href="#" class="widget-more-link">Read More <span class="glyphicon glyphicon-circle-arrow-right"></span></a></p>
	      </div>
	    </div>
  	</div> <!-- Close main-content -->
	</div> <!-- Close row -->
</div> <!-- Close container -->
{% endblock %}